In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
import gmaps
import json
import os

In [4]:
uza_sums = pd.read_csv("/Users/brianastaples/Project_01/2018 UZA Sums.csv")
uza_sums

,UZA,UZA Name,UZA Population,Total Vehicle Revenue Miles,Total Vehicle Revenue Hours,Total Miles,Total Unlinked Passenger Trips,Total Operating Expenses,Fixed Guideway Directional Route Miles,Fixed Guideway Vehicle Revenue Miles,Fixed Guideway Passenger Miles,Fixed Guideway Operating Expenses,Non-Fixed Guideway Vehicle Revenue Miles,Non-Fixed Guideway Passenger Miles,Non-Fixed Guideway Operating Expenses,Fixed Guideway Directional Route Miles >= 7 Years,Fixed Guideway Vehicle Revenue Miles >= 7 Years,High Intensity Bus Directional Route Miles >= 7 Years,High Intensity Bus Vehicle Revenue Miles >= 7 Years
0,0,Alabama Non-UZA,NaN,"5,837,073","341,147","3,737,194","1,583,938","$16,915,775",0.0,0,0,$0,"5,837,073","3,737,194","$16,915,775",0.0,0,0.0,0
1,0,Alaska Non-UZA,NaN,"4,072,666","222,117","22,621,910","1,954,878","$67,608,693",914.8,"1,089,223","22,621,910","$47,509,910","2,983,443",0,"$20,098,783",914.8,"1,089,223",0.0,0
2,0,American Samoa Non-UZA,NaN,"147,007","13,625",0,"26,358","$654,283",0.0,0,0,$0,"147,007",0,"$654,283",0.0,0,0.0,0
3,0,Arizona Non-UZA,NaN,"5,628,984","297,612","3,922,031","2,000,611","$20,083,001",0.0,0,0,$0,"5,628,984","3,922,031","$20,083,001",0.0,0,0.0,0
4,0,Arkansas Non-UZA,NaN,"12,331,660","651,957","15,760","1,000,272","$20,599,427",0.0,0,0,$0,"12,331,660","15,760","$20,599,427",0.0,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536,496,"Grand Island, NE","50,440","156,739","15,086",0,"37,087","$597,090",0.0,0,0,$0,"156,739",0,"$597,090",0.0,0,0.0,0
537,497,"Pascagoula, MS","50,428","54,569","1,598","328,717","8,702","$70,987",0.0,0,0,$0,"54,569","328,717","$70,987",0.0,0,0.0,0
538,600,"Virgin Islands, VI","106,405","514,277","43,831",0,"327,899","$4,024,969",0.0,0,0,$0,"514,277",0,"$4,024,969",0.0,0,0.0,0
539,601,"Lake Tahoe, CA-NV","210,000","1,050,227","64,177","3,795,007","879,112","$8,139,165",0.0,0,0,$0,"1,050,227","3,795,007","$8,139,165",0.0,0,0.0,0
540,602,"Galveston, TX","54,770","556,126","46,465",0,"459,709","$3,192,201",0.0,0,0,$0,"556,126",0,"$3,192,201",0.0,0,0.0,0

In [5]:
reduced_uza_sums = uza_sums[["UZA Name", "Total Unlinked Passenger Trips"]]
reduced_uza_sums

                   UZA Name Total Unlinked Passenger Trips
0           Alabama Non-UZA                      1,583,938
1            Alaska Non-UZA                      1,954,878
2    American Samoa Non-UZA                         26,358
3           Arizona Non-UZA                      2,000,611
4          Arkansas Non-UZA                      1,000,272
..                      ...                            ...
536        Grand Island, NE                         37,087
537          Pascagoula, MS                          8,702
538      Virgin Islands, VI                        327,899
539       Lake Tahoe, CA-NV                        879,112
540           Galveston, TX                        459,709

[541 rows x 2 columns]

In [9]:
reduced_uza_sums.set_index('UZA Name').filter(like='Portland', axis=0)

NameError: name 'reduced_uza_sums' is not defined

KeyError: "None of [Index(['Portland'], dtype='object')] are in the [index]"