In [1]:
# Dependencies
import requests
import os
import gmaps
import datetime 
import pandas as pd
import numpy as np
from scipy.stats import linregress
from matplotlib import pyplot as plt

from config import weather_key

In [18]:
# Open Weather pollution attempt

base_url = "http://api.openweathermap.org/data/2.5/air_pollution/history?"

# Params
#lat={lat}&lon={lon}&start={start}&end={end}&appid={API key}

# Portland lat lng
lat = 45.5051
lng = 122.6750

startDate = pd.Timestamp('2020-12-01T12').timestamp()
#startDate = "1577836861"

endDate = pd.Timestamp('2021-02-01T12').timestamp()
#endDate = "1580428861"

ser = pd.Series([startDate, endDate], dtype='int32')

startDate = ser[0]

endDate = ser[1]

param_url = f'lat={lat}&lon={lng}&start={startDate}&end={endDate}&appid={weather_key}'

response = requests.get(base_url + param_url)
measurement_data = response.json()
#measurement_data

measurements_df = pd.DataFrame(measurement_data["list"])
#for loop?
#measurements_df["datetime"] = pd.Timestamp(measurements_df["dt"], unit='s', tz='US/Pacific')
#print(places_data["results"][0]["name"])
#print(places_data["results"][0]["vicinity"])
measurements_df
                                                           
#test_url = base_url + param_url
#test_url
#startDate
#endDate

,main,components,dt
0,{'aqi': 1},"{'co': 273.71, 'no': 0, 'no2': 4.58, 'o3': 65....",1612180800
1,{'aqi': 1},"{'co': 290.39, 'no': 0.01, 'no2': 7.71, 'o3': ...",1612177200
2,{'aqi': 1},"{'co': 293.73, 'no': 0.01, 'no2': 10.88, 'o3':...",1612173600
3,{'aqi': 1},"{'co': 293.73, 'no': 0.31, 'no2': 12.85, 'o3':...",1612170000
4,{'aqi': 1},"{'co': 297.07, 'no': 2.07, 'no2': 10.88, 'o3':...",1612166400
...,...,...,...
1460,{'aqi': 1},"{'co': 226.97, 'no': 0, 'no2': 1.56, 'o3': 72....",1606838400
1461,{'aqi': 1},"{'co': 226.97, 'no': 0, 'no2': 1.67, 'o3': 72....",1606834800
1462,{'aqi': 1},"{'co': 226.97, 'no': 0, 'no2': 1.74, 'o3': 73....",1606831200
1463,{'aqi': 1},"{'co': 223.64, 'no': 0, 'no2': 1.91, 'o3': 74....",1606827600
1464,{'aqi': 1},"{'co': 223.64, 'no': 0, 'no2': 1.99, 'o3': 75....",1606824000

In [2]:
response = requests.get("https://u50g7n0cbj.execute-api.us-east-1.amazonaws.com/v2/measurements?date_from=2019-01-01T00%3A00%3A00%2B00%3A00&date_to=2020-12-31T05%3A12%3A00%2B00%3A00&limit=100000&page=1&offset=0&sort=desc&radius=1000&order_by=datetime&entity=government")
measurement_data = response.json()

# Convert to DataFrame
measurements_df = pd.DataFrame(measurement_data["results"])
measurements_df

,locationId,location,parameter,value,date,unit,coordinates,country,city,isMobile,isAnalysis,entity,sensorType
0,42400,KGL,co,0.014650,"{'utc': '2020-12-31T05:10:00+00:00', 'local': ...",ppm,"{'latitude': -1.955597, 'longitude': 30.0577381}",RW,Kigali,False,False,government,reference grade
1,42400,KGL,no2,0.010700,"{'utc': '2020-12-31T05:10:00+00:00', 'local': ...",ppm,"{'latitude': -1.955597, 'longitude': 30.0577381}",RW,Kigali,False,False,government,reference grade
2,42400,KGL,pm10,140.500000,"{'utc': '2020-12-31T05:10:00+00:00', 'local': ...",µg/m³,"{'latitude': -1.955597, 'longitude': 30.0577381}",RW,Kigali,False,False,government,reference grade
3,42400,KGL,pm25,80.100000,"{'utc': '2020-12-31T05:10:00+00:00', 'local': ...",µg/m³,"{'latitude': -1.955597, 'longitude': 30.0577381}",RW,Kigali,False,False,government,reference grade
4,42400,KGL,co,0.014970,"{'utc': '2020-12-31T05:05:00+00:00', 'local': ...",ppm,"{'latitude': -1.955597, 'longitude': 30.0577381}",RW,Kigali,False,False,government,reference grade
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,10280,市政府,no2,38.000000,"{'utc': '2020-12-31T00:00:00+00:00', 'local': ...",µg/m³,"{'latitude': 27.7044, 'longitude': 111.9892}",CN,娄底市,False,False,government,reference grade
99996,10280,市政府,so2,6.000000,"{'utc': '2020-12-31T00:00:00+00:00', 'local': ...",µg/m³,"{'latitude': 27.7044, 'longitude': 111.9892}",CN,娄底市,False,False,government,reference grade
99997,10531,Centro de Salud,no2,0.013855,"{'utc': '2020-12-31T00:00:00+00:00', 'local': ...",ppm,"{'latitude': 20.06, 'longitude': -99.221944444...",MX,Atitalaquia,False,False,government,reference grade
99998,10281,市政府,pm10,10.000000,"{'utc': '2020-12-31T00:00:00+00:00', 'local': ...",µg/m³,"{'latitude': 43.9311, 'longitude': 116.0781}",CN,锡林郭勒盟,False,False,government,reference grade
99999,10281,市政府,pm25,2.000000,"{'utc': '2020-12-31T00:00:00+00:00', 'local': ...",µg/m³,"{'latitude': 43.9311, 'longitude': 116.0781}",CN,锡林郭勒盟,False,False,government,reference grade

In [7]:
US_only = measurements_df.loc[(measurements_df["country"] == "US")]
US_only = US_only.groupby("city")

city_count = US_only["city"].count()

summary_df = pd.DataFrame({"Readings": city_count})
summary_df = summary_df.sort_values(by="Readings", ascending=True)
summary_df.iloc[611:621,:]

                                          Readings
city
Pittsburgh                                     145
Denver-Aurora                                  164
Washington-Arlington-Alexandria                192
Sacramento--Arden-Arcade--Roseville            196
Las Vegas-Paradise                             201
New York-Northern New Jersey-Long Island       231
Riverside-San Bernardino-Ontario               301
San Francisco-Oakland-Fremont                  306
Los Angeles-Long Beach-Santa Ana               333
Phoenix-Mesa-Scottsdale                        460

In [12]:
AZ_df = measurements_df.loc[(measurements_df["country"] == "US") & (measurements_df["city"] == "Phoenix-Mesa-Scottsdale")]
AZ_df

,locationId,location,parameter,value,date,unit,coordinates,country,city,isMobile,isAnalysis,entity,sensorType
39,543,Central Phoenix,o3,0.003,"{'utc': '2020-12-31T05:00:00+00:00', 'local': ...",ppm,"{'latitude': 33.4579, 'longitude': -112.046}",US,Phoenix-Mesa-Scottsdale,False,False,government,reference grade
52,1606,C GRANDE,o3,0.019,"{'utc': '2020-12-31T05:00:00+00:00', 'local': ...",ppm,"{'latitude': 32.9544, 'longitude': -111.7622}",US,Phoenix-Mesa-Scottsdale,False,False,government,reference grade
601,536,Humboldt Mountain -,o3,0.044,"{'utc': '2020-12-31T05:00:00+00:00', 'local': ...",ppm,"{'latitude': 33.9828, 'longitude': -111.7987}",US,Phoenix-Mesa-Scottsdale,False,False,government,reference grade
617,8866,Stanfield,pm10,27.000,"{'utc': '2020-12-31T05:00:00+00:00', 'local': ...",µg/m³,"{'latitude': 32.881195, 'longitude': -111.961998}",US,Phoenix-Mesa-Scottsdale,False,False,government,reference grade
1134,517,West Chandler Fire S,o3,0.018,"{'utc': '2020-12-31T05:00:00+00:00', 'local': ...",ppm,"{'latitude': 33.299, 'longitude': -111.8843}",US,Phoenix-Mesa-Scottsdale,False,False,government,reference grade
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98649,514,South Phoenix,co,0.400,"{'utc': '2020-12-31T00:00:00+00:00', 'local': ...",ppm,"{'latitude': 33.4033, 'longitude': -112.0731}",US,Phoenix-Mesa-Scottsdale,False,False,government,reference grade
98697,475,Buckeye,pm10,220.100,"{'utc': '2020-12-31T00:00:00+00:00', 'local': ...",µg/m³,"{'latitude': 33.37, 'longitude': -112.6207}",US,Phoenix-Mesa-Scottsdale,False,False,government,reference grade
98837,280,Thirty Third,co,0.400,"{'utc': '2020-12-31T00:00:00+00:00', 'local': ...",ppm,"{'latitude': 33.461807, 'longitude': -112.128044}",US,Phoenix-Mesa-Scottsdale,False,False,government,reference grade
99101,517,West Chandler Fire S,pm10,8.200,"{'utc': '2020-12-31T00:00:00+00:00', 'local': ...",µg/m³,"{'latitude': 33.299, 'longitude': -111.8843}",US,Phoenix-Mesa-Scottsdale,False,False,government,reference grade
99157,543,Central Phoenix,co,0.400,"{'utc': '2020-12-31T00:00:00+00:00', 'local': ...",ppm,"{'latitude': 33.4579, 'longitude': -112.046}",US,Phoenix-Mesa-Scottsdale,False,False,government,reference grade

In [16]:
#AZ_df = AZ_df.groupby("location")
location_count = AZ_df["location"].count()

summary_df2 = pd.DataFrame({"AZ Location Readings": location_count})
#summary_df2 = summary_df.sort_values(by="AZ Location Readings", ascending=True)
summary_df2

                      AZ Location Readings
location
AJ Maintenance Yard                      6
Apache Junction                          6
Blue Point Sheriff S                     6
Buckeye                                 24
C GRANDE                                 6
COMBS                                    4
Casa Grande Downtown                    12
Cave Creek                               6
Central Phoenix                         30
Durango Complex                         18
Dysart                                   6
Falcon Field Police                      6
Fountain Hills                           6
Ft McD Yuma Frank-AZ                     6
Glendale Community C                    18
High School                             12
Higley                                   6
Humboldt Mountain -                      6
LEHI                                    12
Mesa - Brooks Reserv                    24
North Phoenix                           18
Phoenix JLG Supersit                    36
Pinal Air Park                          12
Pinal County Housing                     6
Pinnacle Peak Club H                     6
Queen Valley                             6
Red Mountain                             6
Senior Center                           12
South Phoenix                           24
South Scottsdale                        12
Stanfield                                6
Tempe                                   18
Thirty Third                            18
West 43rd                                6
West Chandler Fire S                    18
West Phoenix                            30
Zuni Hills                               6

In [9]:
#Initial pull of cities
#response = requests.get(base_url, params=params)
#places_data = response.json()

response = requests.get("https://docs.openaq.org/v2/cities?limit=10000&page=1&offset=0&sort=asc&country=US&order_by=city")
city_data = response.json()

# Convert to DataFrame
cities_df = pd.DataFrame(city_data["results"])
cities_df
#city_data

,country,city,count,locations,firstUpdated,lastUpdated,parameters
0,US,007,1372,5,2018-08-09T09:00:00+00:00,2018-11-09T23:00:00+00:00,[pm25]
1,US,019,704,1,2020-09-18T16:00:00+00:00,2020-10-23T17:00:00+00:00,[pm25]
2,US,037,2683,23,2017-08-28T20:00:00+00:00,2020-10-28T20:00:00+00:00,[pm25]
3,US,039,380,1,2017-08-28T20:00:00+00:00,2018-08-07T21:00:00+00:00,[pm25]
4,US,047,101,1,2018-09-06T18:00:00+00:00,2018-09-13T18:00:00+00:00,[pm25]
...,...,...,...,...,...,...,...
805,US,York-Hanover,86717236,2,2016-03-06T19:00:00+00:00,2021-02-01T12:00:00+00:00,"[o3, pm25]"
806,US,Youngstown-Warren-Boardman,173621545,9,2016-03-06T19:00:00+00:00,2021-02-01T12:00:00+00:00,"[o3, pm25, so2]"
807,US,Yuba City,85750268,2,2016-03-06T19:00:00+00:00,2021-02-01T08:00:00+00:00,"[no2, o3, pm10, pm25]"
808,US,YUKON-KOYUKUK,25139281,1,2016-03-06T19:00:00+00:00,2021-02-01T10:00:00+00:00,[o3]
809,US,Yuma,79317775,1,2016-03-10T07:00:00+00:00,2021-02-01T11:00:00+00:00,"[o3, pm10, pm25]"

In [10]:
cities_df["city"].unique()

array(['007', '019', '037', '039', '047', '051', '077', 'ABBEVILLE',
       'Aberdeen', 'ADA', 'ADAIR', 'ADAMS', 'Adrian', 'Akron', 'ALAMEDA',
       'Albany', 'Albany-Lebanon', 'Albany-Schenectady-Troy',
       'Albuquerque', 'ALEXANDER', 'Allegan', 'ALLEGANY',
       'Allentown-Bethlehem-Easton', 'Altoona', 'AMADOR', 'Amarillo',
       'Americus', 'Ames', 'Anchorage', 'ANCHORAGE', 'Anderson',
       'ANDERSON', 'ANDREW', 'Ann Arbor', 'ANNE ARUNDEL', 'Appleton',
       'ARAPAHOE', 'ARCHULETA', 'Ardmore', 'Arkadelphia', 'AROOSTOOK',
       'Asheville', 'ASHLAND', 'Ashtabula', 'ASOTIN', 'Athens',
       'Athens-Clarke County', 'Atlanta',
       'Atlanta-Sandy Springs-Marietta', 'Atlantic City',
       'Augusta-Richmond County', 'Augusta-Waterville',
       'Austin-Round Rock', 'AVERY', 'BAKER', 'Bakersfield', 'BALTIMORE',
       'Baltimore-Towson', 'Bangor', 'BANNOCK', 'Baraboo',
       'Barnstable Town', 'BARTHOLOMEW', 'Baton Rouge', 'BAYAMON',
       'Bay City', 'BEAUFORT', 'Beaumont-Port Arthur', 'BECKER',
       'Bellingham', 'BELMONT', 'BELTRAMI', 'Bend', 'BENEWAH',
       'Bennington', 'BERKELEY', 'BERKS', 'BERKSHIRE', 'Berlin',
       'BERNALILLO', 'BETHEL', 'BIG HORN', 'Billings', 'Birmingham',
       'Birmingham-Hoover', 'Bishop', 'Blacksburg-Christiansburg-Radford',
       'BLAINE', 'Bloomington', 'Bloomington-Normal', 'BOISE',
       'Boise City-Nampa', 'BOLIVAR', 'BONNER', 'Boston',
       'Boston-Cambridge-Quincy', 'Boulder', 'BOULDER', 'BOUNDARY',
       'Bowling Green', 'BRADFORD', 'Brainerd', 'BREWSTER',
       'Bridgeport-Stamford-Norwalk', 'Brigham City', 'BRISTOL',
       'BROOKINGS', 'BROWN', 'Brownsville-Harlingen', 'Brunswick',
       'BRUNSWICK', 'BRYAN', 'Buffalo-Niagara Falls', 'Burlington',
       'Burlington-South Burlington', 'BUTLER', 'BUTTE', 'CA8 - ARB',
       'CABELL', 'CACHE', 'CADDO', 'Cadillac', 'CALAVERAS', 'Cambridge',
       'CAMERON', 'Canton-Massillon', 'Cape Coral-Fort Myers', 'CARBON',
       'CARIBOU', 'Carlsbad-Artesia', 'CARLTON', 'CARSON CITY', 'CARTER',
       'CASCADE', 'Casper', 'CASS', 'CASWELL', 'CATANO', 'CEDAR',
       'Cedar Rapids', 'Chambersburg', 'CHAMPAIGN', 'Champaign-Urbana',
       'CHARLESTON', 'Charleston-North Charleston',
       'Charlotte-Gastonia-Concord', 'Charlottesville', 'Chattanooga',
       'CHAUTAUQUA', 'CHELAN', 'CHESTERFIELD', 'Cheyenne', 'Chicago',
       'Chicago-Naperville-Joliet', 'Chico', 'CHIHUAHUA STATE',
       'CHURCHILL', 'Cincinnati-Middletown', 'City of The Dalles',
       'CLACKAMAS', 'CLAIBORNE', 'CLALLAM', 'CLARK', 'Clarksville',
       'Cleveland', 'Cleveland-Elyria-Mentor', 'Clinton', 'CLINTON',
       'COCONINO', 'CODINGTON', "Coeur d'Alene", 'Colorado Springs',
       'Columbia', 'COLUMBIA', 'Columbus', 'COLUSA', 'Concord',
       'CONVERSE', 'COOK', 'Cookeville', 'COOS', 'Corning',
       'Corpus Christi', 'Corsicana', 'Corvallis', 'COTTON', 'CURRY',
       'CUSTER', 'CUYAHOGA', 'DAKOTA', 'Dallas',
       'Dallas-Fort Worth-Arlington', 'Dalton', 'Daphne-Fairhope',
       'Davenport-Moline-Rock Island', 'Dayton', 'Decatur', 'DE KALB',
       'DEL NORTE', 'DELTA', 'Deltona-Daytona Beach-Ormond Beach',
       'Deming', 'DENVER', 'Denver-Aurora', 'DESCHUTES', 'Des Moines',
       'Detroit-Warren-Livonia', 'DEWEY', 'Dickinson', 'DODGE',
       'Dodge City', 'DONA ANA', 'DOOR', 'DORCHESTER', 'DOUGLAS', 'Dover',
       'DuBois', 'DUCHESNE', 'DUKES', 'Duluth', 'DUNN', 'Durango',
       'Durham', 'DUVAL', 'Dyersburg', 'Eagle Pass',
       'East Liverpool-Salem', 'East Stroudsburg', 'EAU CLAIRE', 'EDDY',
       'Effingham', 'El Centro', 'El Dorado', 'Elizabethtown',
       'Elkhart-Goshen', 'ELKO', 'Ellensburg', 'El Paso', 'Erie', 'ERIE',
       'ESSEX', 'Eugene-Springfield', 'Evanston', 'Evansville',
       'Fairbanks', 'FAIRFIELD', 'Farmington', 'FAYETTE', 'Fayetteville',
       'Fayetteville-Springdale-Rogers', 'FERGUS', 'FLAGLER', 'Flagstaff',
       'FLATHEAD', 'Flint', 'Florence', 'Florence-Muscle Shoals',
       'Fond du Lac', 'FOREST', 'Fort Collins-Loveland', 'Fort Smith',
       'Fort Walton Beach-Crestview-Destin', 'Fort Wayne', 'FRA',
       'FRANKLIN', 'Fresno', 'FRESNO', 'FS1 - Forest Service', 'Gadsden',
       'Gainesville', 'GALLATIN', 'GALLIA', 'GARFIELD', 'GARRETT', 'GBU',
       'Georgetown', 'Gettysburg', 'GILA', 'GILES', 'Gillette', 'GILMER',
       'GILPIN', 'GLENN', 'GOSHEN', 'GRADY', 'GRAHAM', 'Granbury',
       'Grand Island', 'Grand Junction', 'Grand Rapids-Wyoming', 'GRANT',
       'Grants Pass', 'GRANVILLE', 'Greeley', 'Green Bay', 'GREENBRIER',
       'GREENE', 'Greensboro-High Point', 'Greenville', 'Gulfport-Biloxi',
       'GUNNISON', 'Hagerstown-Martinsburg', 'HAMILTON', 'HAMPDEN',
       'HANCOCK', 'Hanford-Corcoran', 'HARNEY', 'Harriman', 'HARRIS',
       'Harrisburg-Carlisle', 'Harrison', 'Harrisonburg', 'HARTFORD',
       'Hartford-West Hartford-East Hartford', 'Hattiesburg', 'HAWAII',
       'HAYWOOD', 'Helena', 'HENDERSON', 'HENNEPIN',
       'Hickory-Lenoir-Morganton', 'HILLSBOROUGH', 'Hilo', 'Hobbs',
       'Holland-Grand Haven', 'HOLMES', 'Homosassa Springs', 'Honolulu',
       'HOOD RIVER', 'Houma-Bayou Cane-Thibodaux', 'Houston',
       'Houston-Sugar Land-Baytown', 'HOWARD', 'HUGHES', 'HUMBOLDT',
       'Huntington', 'Huntington-Ashland', 'Huntsville', 'HURON', 'IDAHO',
       'Idaho Falls', 'Indiana', 'Indianapolis', 'INYO', 'Iowa City',
       'IRON', 'ISLAND', 'Ithaca', 'Jackson', 'JACKSON', 'Jacksonville',
       'JEFFERSON', 'Jefferson City', 'JEROME', 'JERSEY', 'JO DAVIESS',
       'JOHNSON', 'JOHNSTON', 'Johnstown', 'Joplin', 'JOSEPHINE',
       'JUNEAU', 'Kahului-Wailuku', 'Kalamazoo-Portage', 'Kalispell',
       'KANAWHA', 'Kansas City', 'Keene', 'Kennewick-Richland-Pasco',
       'KENOSHA', 'KENT', 'KERN', 'Killeen-Temple-Fort Hood', 'KING',
       'KINGS', 'Kingsport-Bristol-Bristol', 'Kingsville', 'Kinston',
       'KITSAP', 'KLAMATH', 'Klamath Falls', 'KLICKITAT', 'KNOX',
       'Knoxville', 'Kokomo', 'KOOTENAI', 'Laconia', 'La Crosse',
       'Lafayette', 'La Grande', 'LAKE', 'Lake Charles', 'Lake City',
       'Lake Havasu City-Kingman', 'Lakeland', 'Lancaster', 'LANCASTER',
       'Lansing-East Lansing', 'LA PAZ', 'Laramie', 'Laredo', 'LARIMER',
       'Las Cruces', 'Las Vegas-Paradise', 'LATAH', 'Lawrenceburg',
       'Lawton', 'Lebanon', 'LEBANON', 'LEE', 'LEMHI', 'LEWIS',
       'LEWIS AND CLARK', 'Lewiston', 'Lewiston-Auburn',
       'Lexington-Fayette', 'LIBERTY', 'LICKING', 'Lima', 'Lincoln',
       'LINCOLN', 'Lincolnton', 'LINN', 'Little Rock-North Little Rock',
       'Long Island', 'Longview', 'Los Angeles', 'LOS ANGELES',
       'Los Angeles-Long Beach-Santa Ana', 'Louisville', 'Lubbock',
       'LYCOMING', 'LYON', 'Macon', 'MACON', 'Madera', 'Madison',
       'MADISON', 'MALHEUR', 'Malone', 'Mammoth Cave NP', 'MANATEE',
       'Manchester-Nashua', 'MANISTEE', 'Manitowoc', 'MARICOPA', 'MARION',
       'MARIPOSA', 'Marshall', 'MARTIN', 'MASON', 'MATANUSKA-SUSITNA',
       'MAUI', 'MAYAGUEZ', 'MAYES', 'McAlester',
       'McAllen-Edinburg-Mission', 'Medford', 'MEIGS', 'Memphis',
       'MENDOCINO', 'Merced', 'Meridian', 'MERRIMACK', 'Mesa', 'Miami',
       'MIAMI - DADE', 'Miami-Fort Lauderdale-Miami Beach',
       'Michigan City-La Porte', 'Middlesborough', 'MIDDLESEX',
       'MILLE LACS', 'MILWAUKEE', 'Milwaukee-Waukesha-West Allis',
       'MINERAL', 'MINIDOKA', 'Minneapolis-St. Paul-Bloomington',
       'MINNEHAHA', 'MISSOULA', 'MITCHELL', 'Mobile', 'Modesto', 'MOFFAT',
       'MONO', 'Monroe', 'MONROE', 'MONTEREY', 'MONTEZUMA', 'Montgomery',
       'MONTGOMERY', 'MONTROSE', 'Morehead City', 'MORGAN', 'Morgantown',
       'Morristown', 'Moscow', 'Moses Lake', 'Mount Vernon',
       'Mount Vernon-Anacortes', 'MT1', 'MULTNOMAH', 'Muncie',
       'Muscatine', 'MUSCATINE', 'Muskegon-Norton Shores', 'Muskogee',
       'Myrtle Beach-Conway-North Myrtle Beach', 'N/A', 'Napa',
       'Naples-Marco Island', 'Nashville-Davidson--Murfreesboro',
       'NASSAU', 'NAVAJO', 'NC1', 'NEOSHO', 'Newark Area', 'New Castle',
       'NEW CASTLE', 'New Haven-Milford', 'New Orleans-Metairie-Kenner',
       'New York', 'NEW YORK', 'New York-Northern New Jersey-Long Island',
       'NEZ PERCE', 'Niles-Benton Harbor', 'NOBLE', 'Nogales', 'NORFOLK',
       'NORTHAMPTON', 'Norwich-New London', 'NOWATA', 'NPS', 'NYE',
       'Oakland', 'Ocala', 'Odessa', 'Ogden-Clearfield', 'OKANOGAN',
       'Oklahoma City', 'Olympia', 'Omaha-Council Bluffs', 'ONEIDA',
       'ORANGE', 'Orlando-Kissimmee', 'OTTAWA', 'OUTAGAMIE', 'Owensboro',
       'OXFORD', 'Oxnard-Thousand Oaks-Ventura', 'PACIFIC', 'Paducah',
       'Palm Bay-Melbourne-Titusville', 'PALM BEACH', 'PALO ALTO',
       'Panama City-Lynn Haven', 'PARK', 'Parkersburg-Marietta-Vienna',
       'Pascagoula', 'Payson', 'Pendleton-Hermiston', 'PENOBSCOT',
       'Pensacola-Ferry Pass-Brent', 'Peoria', 'PERRY', 'PERSON',
       'PHILADELPHIA', 'Philadelphia-Camden-Wilmington', 'PHILLIPS',
       'Phoenix Lake-Cedar Ridge', 'Phoenix-Mesa-Scottsdale', 'PICKENS',
       'PIKE', 'PIMA', 'PINAL', 'PINELLAS', 'PITKIN', 'Pittsburgh',
       'Pittsfield', 'PLACER', 'PLUMAS', 'PLYMOUTH', 'Pocatello', 'POLK',
       'Ponca City', 'PONCE', 'Port Angeles',
       'Portland-South Portland-Biddeford',
       'Portland-Vancouver-Beaverton', 'Portsmouth',
       'Poughkeepsie-Newburgh-Middletown', 'POWDER RIVER', 'Prescott',
       'PRINCE EDWARD', 'Prineville', 'Providence-New Bedford-Fall River',
       'Provo-Orem', 'PROXY SITE - CA - CONSTANT', 'Pullman', 'PUTNAM',
       'Quincy', 'RACINE', 'Raleigh-Cary', 'RAMSEY', 'RANDOLPH',
       'Rapid City', 'RAVALLI', 'Reading', 'Red Bluff', 'Redding',
       'Red Wing', 'Reno-Sparks', 'RICHLAND', 'Richmond', 'RIO ARRIBA',
       'RIO BLANCO', 'RIVERSIDE', 'Riverside-San Bernardino-Ontario',
       'Riverton', 'Roanoke', 'Rochester', 'ROCK', 'ROCKBRIDGE',
       'Rockford', 'ROCKINGHAM', 'ROCKLAND', 'Rock Springs',
       'Rocky Mount', 'Rome', 'ROSEBUD', 'Roseburg', 'Rutland',
       'SACRAMENTO', 'Sacramento--Arden-Arcade--Roseville', 'Salem',
       'Salinas', 'Salisbury', 'Salt Lake City', 'San Antonio',
       'SAN BERNARDINO', 'SANDERS', 'SAN DIEGO',
       'San Diego-Carlsbad-San Marcos', 'SANDOVAL',
       'San Francisco Bay Area', 'San Francisco-Oakland-Fremont',
       'SANGAMON', 'SAN JOAQUIN', 'San Jose-Sunnyvale-Santa Clara',
       'SAN JUAN', 'San Juan-Caguas-Guaynabo', 'SAN LUIS OBISPO',
       'San Luis Obispo-Paso Robles', 'Santa Barbara-Santa Maria',
       'Santa Cruz-Watsonville', 'Santa Fe', 'Santa Rosa-Petaluma',
       'Sarasota-Bradenton-Venice', 'Sault Ste. Marie', 'Savannah', 'SC0',
       'SCHOOLCRAFT', 'SCOTT', 'Scottsbluff', 'Scranton--Wilkes-Barre',
       'Seaford', 'Seattle-Tacoma-Bellevue', 'Sebring', 'Seneca',
       'SEVIER', 'Sevierville', 'Seymour', 'SHEBOYGAN', 'Shelton',
       'Sheridan', 'SHERIDAN', 'SHERMAN', 'SHOSHONE',
       'Shreveport-Bossier City', 'Sierra Vista-Douglas', 'SILVER BOW',
       'SIMPSON', 'Sioux City', 'SISKIYOU', 'SKAGIT', 'Somerset',
       'SOMERSET', 'SONOMA', 'SONORA', 'South Bend-Mishawaka',
       'Spartanburg', 'Spokane', 'SPOKANE', 'Springfield',
       'State College', 'ST. BERNARD', 'STE GENEVIEVE', 'STEVENS',
       'St. George', 'ST. JAMES', 'St. Joseph', 'St. Louis', 'ST. LOUIS',
       'ST. LOUIS (CITY)', 'ST. LUCIE', 'St. Marys', 'Stockton',
       'SUBLETTE', 'SUFFOLK', 'Summerville', 'SUMTER', 'SUSQUEHANNA',
       'SUTTER', 'SWAIN', 'SWEETWATER', 'Syracuse', 'Tahlequah',
       'Tallahassee', 'Tampa-St. Petersburg-Clearwater', 'TANEY', 'Taos',
       'TAYLOR', 'Terre Haute', 'TETON', 'Texarkana',
       'Thomasville-Lexington', 'TILLAMOOK', 'TIOGA', 'Toledo', 'TOOELE',
       'Topeka', 'Torrington', 'Traverse City', 'TREGO', 'Trenton-Ewing',
       'TRINITY', 'Truckee-Grass Valley', 'TUCKER', 'Tucson', 'TULARE',
       'Tulsa', 'TULSA', 'TUOLUMNE', 'Tupelo', 'Tuscaloosa', 'TUSCOLA',
       'TWIN FALLS', 'Tyler', 'UINTAH', 'Ukiah', 'UNION', 'UTAH',
       'Utica-Rome', 'Valdosta', 'Vallejo-Fairfield', 'VALLEY',
       'VAN BUREN', 'Vero Beach', 'Victoria', 'VILAS', 'Vincennes',
       'Vineland-Millville-Bridgeton',
       'Virginia Beach-Norfolk-Newport News', 'Visalia-Porterville',
       'Wabash', 'Waco', 'Walla Walla', 'WALLOWA', 'Walterboro',
       'Warner Robins', 'WARREN', 'WASCO', 'Washington', 'WASHINGTON',
       'Washington-Arlington-Alexandria', 'Waterloo-Cedar Falls',
       'Watertown-Fort Drum', 'Wausau', 'WAYNE', 'Weirton-Steubenville',
       'WELD', 'Wenatchee', 'WESTON', 'WEXFORD', 'WHATCOM', 'Wheeling',
       'WHITE PINE', 'Whitewater', 'WHITLEY', 'Wichita', 'WILL',
       'Williamsport', 'Willimantic', 'Wilmington', 'Winchester',
       'Winston-Salem', 'Worcester', 'WORCESTER', 'WYOMING', 'WYTHE',
       'Yakima', 'YAKIMA', 'YALOBUSHA', 'YANCEY', 'YELLOWSTONE', 'YORK',
       'York-Hanover', 'Youngstown-Warren-Boardman', 'Yuba City',
       'YUKON-KOYUKUK', 'Yuma'], dtype=object)

In [20]:
beginDate = pd.Timestamp("2019-01-01")
#beginDate = "2019-01-01T09:00:00+00:00"
#beginDate = beginDate.astype('Datetime')
endDate = pd.Timestamp("2020-06-30")
#endDate = "2020-06-30T09:00:00+00:00"
#endDate = endDate.astype('Datetime')

#current_cities_df = cities_df.loc[(pd.Timestamp(cities_df["firstUpdated"]) < beginDate) &
                                  #(pd.Timestamp(cities_df["lastUpdated"]) > endDate)]
                                   
#current_cities_df

for index, row in cities_df.iterrows():
    currentDate = cities_df["lastUpdated"]
    currentDate = currentDate.astype('Datetime64')
    
    if(currentDate > beginDate):
        print(cities_df["City"])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [23]:
cities_df.to_csv("Resources\measurement_cities.csv", encoding="utf-8", index=False)