In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
city_data = pd.read_csv("Resources/city_pop_transit_age_latlng.csv")
city_data.head()

,City,Population,Public Transportation Rate,Median Age,Lat,Lng
0,ABAC,25590.0,0.346470,36.90,31.483076,-83.530194
1,Aberdeen,31027.0,0.362211,36.70,57.149717,-2.094278
2,Aberdeen Township,30709.0,11.924538,41.70,40.417095,-74.222116
3,Abilene,57336.0,0.802012,31.45,32.448736,-99.733144
4,Abingdon,29587.0,1.981002,35.60,36.709833,-81.977348

In [6]:
high_transportation = city_data.sort_values("Public Transportation Rate", ascending=False)
high_transportation.head(40)

,City,Population,Public Transportation Rate,Median Age,Lat,Lng
912,Jackson Heights,63202.0,71.771714,37.900000,40.755682,-73.883070
1105,Long Island City,163789.0,71.090482,35.220000,40.744679,-73.948542
2236,Woodside,88939.0,68.267635,35.900000,39.043416,-94.610257
2155,West Bronx,277955.0,65.549832,29.875000,40.851955,-73.900709
523,East Flatbush,77011.0,63.130525,38.900000,40.648166,-73.929990
218,Briarwood,54523.0,62.715252,35.700000,36.312483,-94.114123
231,Brooklyn,2480847.0,61.840460,34.694286,40.678178,-73.944158
651,Forest Hills,69652.0,61.260193,41.900000,40.718106,-73.844847
1991,The Bronx,941062.0,60.225610,33.846667,40.844782,-73.864827
1670,Rego Park,41792.0,58.448699,42.800000,40.725572,-73.862489
1162,Manhattan,1379505.0,58.244459,36.575000,40.783060,-73.971249
1358,New York,61806.0,56.439074,36.200000,40.712775,-74.005973
852,Hoboken,51979.0,55.069535,31.500000,40.743991,-74.032363
522,East Elmhurst,76133.0,54.190414,35.350000,40.773750,-73.871310
1640,Queens,78505.0,52.588079,37.050000,40.728224,-73.794852
1499,Ozone Park,57529.0,51.628809,35.350000,40.679407,-73.850728
519,East Bronx,141898.0,49.912794,36.550000,40.873289,-73.853624
916,Jamaica,430698.0,47.040304,36.470000,18.109581,-77.297508
1186,Maspeth,30854.0,45.161290,39.600000,40.729402,-73.906588
920,Jersey City,242617.0,44.914007,34.020000,40.717754,-74.043143
2173,West New York,62908.0,43.999870,35.200000,40.787879,-74.014306
1399,North Philadelphia,113446.0,42.877706,31.900000,40.014539,-75.131126
622,Far Rockaway,62577.0,42.412838,32.600000,40.599893,-73.744844
1889,Southeast Washington,52480.0,42.397016,32.700000,47.751074,-120.740139
1421,Northwest Washington,139176.0,41.490490,33.425000,38.938091,-77.044933
1236,Middle Village,35725.0,41.215765,43.400000,40.717372,-73.874250
572,Elmhurst,147536.0,40.844055,38.100000,41.899474,-87.940342
2176,West Philadelphia,85944.0,38.964793,34.050000,39.960015,-75.224870
922,Joint Base Anacostia-Bolling,38152.0,37.074260,28.900000,38.845678,-77.009748
437,DORCHESTR CTR,51544.0,36.231632,34.700000,42.291765,-71.071717
1414,Northeast Washington,56646.0,35.864335,34.300000,38.909761,-76.975827
200,Boston,442696.0,34.485527,33.357143,42.360083,-71.058880
1233,Mid Island,126891.0,32.940132,38.400000,40.611306,-74.141224
1810,Scarsdale,39510.0,32.825815,43.000000,41.005098,-73.784577
1767,San Francisco,749724.0,32.682565,38.733333,37.774929,-122.419415
644,Flushing,394703.0,31.837153,41.777778,40.767499,-73.833079
1382,North Bergen,62114.0,31.230188,36.800000,40.804267,-74.012084
1155,Malden,60293.0,30.401579,35.700000,42.425096,-71.066163
2041,UNIVERSITY PA,33480.0,29.819626,31.900000,39.952219,-75.193214
2232,Woodhaven,85534.0,29.673909,38.250000,42.138984,-83.241799

In [7]:
high_transportation = high_transportation.loc[high_transportation["Public Transportation Rate"] > 30]
high_transportation.count()

City                          38
Population                    38
Public Transportation Rate    38
Median Age                    38
Lat                           38
Lng                           38
dtype: int64

In [9]:
high_transportation.to_csv("Resources/high_rate.csv", index=False)